{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost At Night</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
    {% include '_google_analytics.html' %}
    {% bootstrap_css %}
    <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% include '_topbar.html' %}
    <div class="container">
        <div class="row">
        {% for batch in batchs %}
            <div class="col-3 p-0" >
                <div class="card batch-card m-3" onClick="window.location.href='/gettask/{{ batch.id }}'">
                    <div class="position-relative">
                        <img src="{{ batch.get_example_image }}" class="card-img-top" alt="...">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <div class="text-center text-participate">Participate</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-9">
                                Name: <b>{{ batch.name }}</b> <br/>
                                Images: <b>{{ batch.get_number_images }}</b>
                            </div>
                            <div class="col-3">
                                <div class="progress-circle" style="background: conic-gradient(#000 {{ batch.get_percentage_remaining }}%, #fef7ff 0);">
                                    <span class="progress-text">{{ batch.get_percentage_remaining }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include '_footer.html' %}
</body>
</html>